.header-content-manage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
}

.header-content-manage>.toolbar-left{
    width: 45%;
    height: 100%;
}

.header-content-manage>.toolbar-left>.search-bill{
    width: 100%;
    height: 35px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 12.5px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

.header-content-manage>.toolbar-left>.search-bill>.inputBill{
    width: calc(100% - 35px - 10px - 10px);
    margin-left: 10px;
}

.header-content-manage>.toolbar-left>.search-bill>.icon{
    margin-left: 5px;
}

.header-content-manage>.toolbar-right{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-content-manage>.toolbar-right>.create-bill{
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
}

.header-content-manage>.toolbar-right>.create-bill>p{
    width: 100px;
}

.header-content-manage>.toolbar-right>.create-bill>.type-render{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    margin-left: 10px;
}

.header-content-manage>.toolbar-right>.create-bill>.type-render>.tp-render{
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
}

.header-content-manage>.toolbar-right>.create-bill>.type-render>.tp-render>span{
    margin-left: 5px;
}


.header-content-manage>.toolbar-right>.typeDisplay{
    width: 80px;
    height: 30px;
    margin-left: 10px;
    background-color: aquamarine;
    margin-left: 20px;
    border-radius: 15px 15px 15px 15px;
}

.header-content-manage>.toolbar-right>.typeDisplay>.nuclear{
    width: 30px;
    height: 30px;
    background-color: brown;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.main-content-manage{
    width: 100%;
    height: calc(100% - 60px - 20px);
}


.main-content-manage>.style-grid{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    overflow-y:auto;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 10px;
}

.main-content-manage>.style-grid>.bill-grid{
    width: 300px;
    height: 300px;
    background-color: rgb(235, 235, 235);
    padding: 5px 5px 5px 5px;
    position: relative;
    margin: 10px 0 0 10px;
}

.main-content-manage>.style-grid>.bill-grid>.billName{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.main-content-manage>.style-grid>.bill-grid>.numberBill{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.main-content-manage>.style-grid>.bill-grid>.numberBill>.value{
    margin-left: 5px;
    font-weight: bold;
}

.main-content-manage>.style-grid>.bill-grid>div>.billCode{
    display: flex;
    align-items: center;
}

.main-content-manage>.style-grid>.bill-grid>div>.billCode>.value{
    margin-left: 5px;
    font-weight: bold;
}

.main-content-manage>.style-grid>.bill-grid>div>.billDate{
    display: flex;
    align-items: center;
}

.main-content-manage>.style-grid>.bill-grid>div>.billDate>.value{
    margin-left: 5px;
    font-weight: bold;
}

.main-content-manage>.style-grid>.bill-grid>.billList{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.main-content-manage>.style-grid>.bill-grid>.totalCost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.main-content-manage>.style-grid>.bill-grid>.totalCost>.value{
    font-weight: bold;
}

.main-content-manage>.style-grid>.bill-grid>.more-option-bill{
    width: 30px;
    height: 30px;
    background-color: rgba(192, 192, 192, 0.731);
    border-radius: 20px 20px 20px 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
    display: none;
}

.main-content-manage>.style-grid>.bill-grid:hover>.more-option-bill{
    display: block;
}